*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}
body
{
    min-width: 100vw;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}

.container .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.567);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 450px;
}
.container .card .imgContainer
{
    position: relative;
    width:250px;
    height:250px;
    top:-50px;
    left:10px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.48);
}
.container .card .imgContainer img
{
    max-width: 100%;
    border-radius: 10px;

}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#fff;
    font-weight: 900;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.box_button {
    margin-top: 60px;
    padding: 20px;
    background: rgba(0, 255, 255, 0.307);
    border-radius: 3px;
    display: none;
}

.box_button_open{
    display: block;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.box_button .text_button{
    color: #fff;
    font-weight: 900;
    background-color: rgba(0, 255, 255, 0.307);
    border-radius: 4px;
    text-decoration: none;
    display: none;
    justify-content: center;
    align-items: center;
}

.box_button .text_button .text{
    color: #fff;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.48);
}
.text_open{
    display: flex !important;
}


.box_button2021 {
    margin-top: 60px;
    padding: 20px;
    background: rgba(0, 255, 255, 0.307);
    border-radius: 3px;
    display: none;
}
.box_button_open2021{
    display: block;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
}

.box_button2021 .text_button2021{
    color: #fff;
    font-weight: 900;
    background-color: rgba(0, 255, 255, 0.307);
    border-radius: 4px;
    text-decoration: none;
    display: none;
    justify-content: center;
    align-items: center;
}

.box_button2021 .text_button2021 .text2021{
    color: #fff;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.48);
}
.text_open2021{
    display: flex !important;
}
@media (max-width: 330px){
    .container .card .imgContainer{
        left: -2px;
    }
}